@font-face {
  font-face("icomoon", "../fonts/icomoon.");
}

mixIconSrc($icon = '\e603', $color = inherit, $size = inherit) {
		content: $icon;
		color: $color;
		font-size: $size;
		font-family: icomoon;
		font-weight: normal;
		font-style: normal;
		text-decoration: inherit;
		-webkit-font-smoothing: antialiased;
}

mixIcon($icon = '\e603', $color = inherit, $size = inherit) {
	&:before {
		mixIconSrc($icon, $color, $size);
		margin-right:0.5em;
	}
}

mixIconAfter($icon = '\e603', $color = inherit, $size = inherit) {
	&:after {
		mixIconSrc($icon, $color, $size);
		margin-left:0.5em;
	}
}

.mixIconSpinSrc {
	animation(spin 2s infinite linear);
	display: inline-block;
  text-decoration: none;
  padding:0;
  text-indent:0;
}

mixIconSpin() {
	&:before {
		mixIconSpinSrc();
	}
}

mixIconSpinAfter() {
	&:after {
		mixIconSpinSrc();
	}
}

@keyframes spin 
  0%
    transform rotate(0deg)
  100%
    transform rotate(359deg)



