/* vars */

$backgroundColor = #fff;

$colorInstitucional = #ed6100;
$colorInstitucionalAlt = #aa4400;
$colorInactivo = #ccc;
$colorMiembros = #009aff;
$colorObjetivo = #00bf21;
$colorLugar = #e5c600;
$colorNombre = #ff3600;
$colorFormacion = #00bfb4;
$colorCapital = #cd00eb;
$colorTramite = #c83737;
$colorGota = #43b6b6;

$linkColor     = #008080;
$linkColorOver = darken($linkColor, 15%);

$textColor = #666;
$titleColor = $textColor;
$lineColor = $colorInstitucional;

$kuler1 = $colorInstitucional;
$kuler2 = $textColor;
$kuler3 = $colorInactivo;
$kuler4 = #000;
$kuler5 = $linkColor;

$titleFont = 'Open Sans', Helvetica, Arial, sans-serif;
$textFont = 'Open Sans', Helvetica, Arial, sans-serif;

$errorColor    = #b34e4d;  
$warningColor  = #c09854;
$noticeColor   = #3986ac;
$successColor  = #458746;

$media = '../';

rupture.scale = 0 400px 600px 800px 1050px;