/* vars */

$backgroundColor = #fff;

$colorInstitucional = #ed6100;
$colorInstitucionalAlt = #aa4400;
$colorInactivo = #ccc;
$colorMiembros = #009aff;
$colorObjetivo = #00bf21;
$colorLugar = #e5c600;
$colorNombre = #ff3600;
$colorFormacion = #00bfb4;
$colorCapital = #cd00eb;
$colorTramite = #c83737;
$colorGota = #43b6b6;

$linkColor     = #008080;
$linkColorOver = darken($linkColor, 15%);

$textColor = #666;
$titleColor = $textColor;
$lineColor = $colorInstitucional;

$kuler1 = $colorInstitucional;
$kuler2 = $textColor;
$kuler3 = $colorInactivo;
$kuler4 = #000;
$kuler5 = $linkColor;

$titleFont = 'Open Sans', Helvetica, Arial, sans-serif;
$textFont = 'Open Sans', Helvetica, Arial, sans-serif;

$errorColor    = #b34e4d;  
$warningColor  = #c09854;
$noticeColor   = #3986ac;
$successColor  = #458746;

$media = '../';

rupture.scale = 0 400px 600px 800px 1050px;


$icon-times = "\e603";
$icon-tick = "\e604";
$icon-plus = "\e605";
$icon-minus = "\e606";
$icon-arrow-right-thick = "\e607";
$icon-arrow-left-thick = "\e608";
$icon-th-menu = "\e609";
$icon-heart = "\e60a";
$icon-download = "\e60c";
$icon-calender = "\e60d";
$icon-world = "\e60e";
$icon-arrow-sync = "\e60f";
$icon-arrow-right-outline = "\e610";
$icon-arrow-left-outline = "\e611";
$icon-quill = "\e612";
$icon-pen = "\e613";
$icon-bullhorn = "\e615";
$icon-location = "\e616";
$icon-user = "\e618";
$icon-users = "\e619";
$icon-cogs = "\e61a";
$icon-stats = "\e61b";
$icon-mail = "\e61c";
$icon-googleplus = "\e61d";
$icon-facebook = "\e61e";
$icon-twitter = "\e61f";
$icon-feed = "\e620";
$icon-vimeo = "\e621";
$icon-flickr = "\e622";
$icon-file-pdf = "\e623";
$icon-droplet2 = "\e602";
$icon-newspaper = "\e600";