extends _layouts/home

block content
  section#home-top
    .content
      h2 logo
      h3 ¿Querés trabajar con un grupo de amigos?
      p Vós también podés formar parte de una cooperativa
      a.btn(href="#empezar") empezar

  section#home-empezar
    .content
      h3 Por donde empezar
      h4 Una cooperativa de trabaja es una empresa democratica 
        | donde todos sus miembros tienen derecho a decidir 
        | sobre el rumbo de la misma.
      .boxes
        .box.box-miembros
          h5 +6
          p Para armar una cooperativa, se necestan al menos, 6 socios.
        .box.box-objetivo
          h5 Objetivo
          p Estar de acuerdo en que tarea van a realizar.
        .box.box-lugar
          h5 Lugar
          p Tener una sede donde funcionar.
  section#home-experiencia
    .content
      h3 Mirá algunas de las experiencias de quienes 
        | entendieron que juntos podían vivir mejor
      .video
        <iframe width="560" height="240" src="//www.youtube.com/embed/aBMYj51dSS0?rel=0" frameborder="0" allowfullscreen></iframe>
      p La Patria Emprendedora es una serie de 8 documentales para televisión que 
        | recorre experiencias económicas asociativas en diversos escenarios del 
        | territorio argentino; buscando describir las emergentes y exitosas estrategias 
        | de producción, intercambio y desarrollo que le permitieron a las comunidades vivir 
        | dignamente. El Colectivo de cooperativas, emprendimientos, organizaciones y empresas 
        | recuperadas son los protagonistas de La Patria.
  section#home-registrate
    .content
      a.btn(href="registrate.html") Registráte
      h3 ¿Querés formar una cooperativa?
      p Para que tu cooperativa sea legal, debés registrarla en el Inaes.
        | Registráte para poder iniciar el tramite paso a paso y sin errores.