/* 
 * 
 *  naranju
 *  - docs: https://github.com/banquito/naranju
 *  - autor: Jonathan Katz (tiko2015@elgalpondebanquito.com.ar)
 *  
*------------------------------------------------------------- */

/* fonts */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600italic,700")

/* imports */
@import "nib";

global-reset();

@page
  width: 21.5cm
  height: 32cm

@page :right
  margin: 5cm 1.2cm 3cm 5.2cm;

@page :left
  margin: 5cm 5.2cm 3cm 1.2cm;

body
  font: 10pt Georgia, "Times New Roman", Times, serif;
  line-height: 24pt

p
  line-height: 24pt
