.content
  .help
    h2 Mi cooperativa
    :markdown
      Para completar la documentación 
      solicitada por el **Inaes** debes
      completar los siguientes módulos.

  .karma
    h3 Estado del trámite de inscripción
    :markdown
      El árbol del cooperativismo necesita ser regado.
      Para lograr tener la matriculo de tu cooperativa, será necesario 
      que completes todos los pasos para una inscripción exitosa.

    .gotas
      .gota.active
      .gota.active
      .gota.active
      .gota
      .gota
      .gota
      .gota
      .gota
      .gota
      .gota