.sidemenu
  a(href="#sidemenu")
  a(href="#sidemenuclose")
  nav
    aside.user-box
      h4 Daniel
      p Administrador | 
        a(href="index.html") Salir
    ul
      li
        a(href="index.html") Mundo Cooperativo
      li
        a(href="profile.html") Mi cooperativa
      li
        a(href="#") Imagen institucional
      li
        a(href="#") Aprender