include elements/gallery
include elements/forms
include elements/slider
include elements/nav

doctype html
html(lang="en")
  
  include includes/head
  
  body.not-login.home
    header
      h1
        a(href="index.html") Mundo cooperativo
      nav
        a(href="profile.html") Iniciá sesión
        | |
        a(href="registrate.html") Registráte
    
    block content
    
    include includes/foot
