#profile
  .content
    margin-bottom: 50px
    cf()
    .col-2
      cf()
      p
        column(1/2)
    textarea
      height: 100px

    [href="#editar"]
      font-size: 2em
      &:before
        mixIconSrc($icon-arrow-right-thick)