#registro
  .help  
    h2 
      color: $colorInstitucional
      font-size: 36px
      margin-bottom: 10px
      text-align: right
    p
      font-size: 18px
      text-align: right
    +above(2)
      column(2/5)
    +below(2)
      column(1)

  form
    vertical_form()
    p
      font-size: 16px
    button
      button($colorInstitucional)
      mixIcon($icon-arrow-right-outline)
      font-size: 22px

    +above(2)
      column(3/5)
      box-sizing: border-box
      padding-left: 20px
      border-left: 5px solid $colorInstitucional

    +below(2)
      column(1)
