.not-login
  header
    background: $colorInstitucionalAlt;
    height: 48px;
    h1
      float: left;
      line-height: 48px;
      font-size: 24px;
      margin: 0;
      padding-left: 20px;
      a
        color: #fff;
    nav
      float: right;
      color: #fff;
      font-size: 14px;
      line-height: 48px;
      margin-right: 10px;
      a
        color: #fff;
        margin: 0 10px;