.karma
  h3
    color: $colorInstitucional
    font-size: 20px
    margin-bottom: 0
    padding: 15px 0 18px
    line-height: 25px
  p
    font-size: 12px
  .gotas
    .gota
      display: inline
      line-height: 30px
      mixIcon($icon-droplet2, $colorInactivo, 30px)
      &:before
        margin-right: 0
      &.active:before
        color: $colorGota