extends _layouts/home

block content
  section#profile
    .content
      .help
        h2 Mi cooperativa
        :markdown
          Para completar la documentación 
          solicitada por el **Inaes** debes
          completar los siguientes módulos.

      .karma
        h3 Estado del trámite de inscripción
        :markdown
          El árbol del cooperativismo necesita ser regado.
          Para lograr tener la matriculo de tu cooperativa, será necesario 
          que completes todos los pasos para una inscripción exitosa.

        .gotas
          .gota.active
          .gota.active
          .gota.active
          .gota
          .gota
          .gota
          .gota
          .gota
          .gota
          .gota
    .content
      .box.box-miembros
        h5 +6
        p Para armar una cooperativa, se necestan al menos, 6 socios.
      .box.box-objetivo
        h5 Objetivo
        p Estar de acuerdo en que tarea van a realizar.
      .box.box-lugar
        h5 Lugar
        p Tener una sede donde funcionar.
      .box.box-nombre
        h5 Nombre
        p Para armar una cooperativa, se necestan al menos, 6 socios.
      .box.box-formacion
        h5 Formación
        p Estar de acuerdo en que tarea van a realizar.
      .box.box-capital
        h5 Capital social
        p Tener una sede donde funcionar.
